:root {
	--primary: "#194091";
	--secondary: "#1e2a4d";
	--accent: "#75b847";
	--white: "fff";
	--neutral: "#fff";
	--"base-100": "#fff";
	--info: "#385cbc";
	--success: "#3ABA90";
	--warning: "#F3C178";
	--error: "#FE5E41";
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

.btn{
  font-family: Proxima Nova, system-ui, sans-serif;
	font-weight: 400;
	color:white
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	fill: transparent;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a3 {
	animation-delay:-3s;
	-webkit-animation-delay:-3s; /* Safari 和 Chrome */
	stroke: #75b847;
	stroke-width: 3px;	
}

.arrows path.a2 {
	animation-delay:-1.5s;
	-webkit-animation-delay:-1.5s; /* Safari 和 Chrome */
	stroke: #194091;
	stroke-width: 2px;	
}

.arrows path.a1 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
	stroke: white;
	stroke-width: 1px;	
	}

